body {
    background-color: #f0f2f5;
}
.weather-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    /* To position the sun icon */
}
.weather-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: right;
}
.input-group-text {
    background-color: #fff;
    border: none;
}

.weather-info {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}
.weather-btn {
    background-color: #007bff;
    border: none;
    position: center;
}
.weather-btn:hover {
    background-color:crimson;
}
.sunny-icon {
    position:relative;
    top: 10px;
    right: 10px;
    color: #ffce00;
    font-size: 48px;
}
.weather-icon {
    position:relative;
    font-size: 48px;
    margin-bottom: 20px;
}
/* Added this class to create proper spacing via CSS */
.indent {
    margin-top: 15px;
}